@media(max-width:820px) {
    .header_content a {
        padding: 30px 80px 30px 80px;
    }

    .header_content h1 {
        font-size: 38px;
    }

    .game {
        flex-direction: column;
    }

    .game_img {
        width: 100%;
    }

    .game_text {
        width: 100%;
    }
    
    .rejestr{
        flex-direction: column;
        text-align: center;
    }
    
    .rejestr p{
        margin: 0;
    }
    
    .rejestr_button {
        margin-right: 0;
    }
}
